# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/VulkanTest
/.vs/VulkanTest/FileContentIndex
/.vs/VulkanTest/FileContentIndex/2730da43-d0cf-4b3e-81b0-1630a7711688.vsidx
/.vs/VulkanTest/FileContentIndex/6a93995d-5697-41ea-95b1-28e79cf1f9d5.vsidx
/.vs/VulkanTest/FileContentIndex/8bea044d-fe44-487d-948f-f9c6b88a2994.vsidx
/.vs/VulkanTest/FileContentIndex/8e47050f-0b44-4572-bd96-63627bc39eac.vsidx
/.vs/VulkanTest/v17
/.vs/VulkanTest/v17/.suo
/.vs/VulkanTest/v17/Browse.VC.db
/.vs/VulkanTest/v17/Browse.VC.db-shm
/.vs/VulkanTest/v17/Browse.VC.db-wal
/.vs/VulkanTest/v17/Browse.VC.opendb
/.vs/VulkanTest/v17/ipch/AutoPCH
/.vs/VulkanTest/v17/ipch/AutoPCH/310a7bca12dd88e7
/.vs/VulkanTest/v17/ipch/AutoPCH/310a7bca12dd88e7/MAIN.ipch
/.vs/VulkanTest/v17/ipch/AutoPCH/90d6dfe9f284e1a2
/.vs/VulkanTest/v17/ipch/AutoPCH/90d6dfe9f284e1a2/HELLOTRIANGLEAPPLICATION.ipch
/.vs/VulkanTest/v17/ipch/AutoPCH/d0f5e65ad7e87955
/.vs/VulkanTest/v17/ipch/AutoPCH/d0f5e65ad7e87955/MAIN.ipch
/x64/Debug
/x64/Debug/Tartifle.cda874ed.tlog
/x64/Debug/Tartifle.cda874ed.tlog/CL.command.1.tlog
/x64/Debug/Tartifle.cda874ed.tlog/Cl.items.tlog
/x64/Debug/Tartifle.cda874ed.tlog/CL.read.1.tlog
/x64/Debug/Tartifle.cda874ed.tlog/CL.write.1.tlog
/x64/Debug/Tartifle.cda874ed.tlog/link.command.1.tlog
/x64/Debug/Tartifle.cda874ed.tlog/link.read.1.tlog
/x64/Debug/Tartifle.cda874ed.tlog/link.write.1.tlog
/x64/Debug/Tartifle.cda874ed.tlog/TartifletteEngine.lastbuildstate
/x64/Debug/TartifletteEngine.exe.recipe
/x64/Debug/TartifletteEngine.ilk
/x64/Debug/TartifletteEngine.pdb
/x64/Debug/vc143.idb
/x64/Debug/vc143.pdb
/x64/Debug/VulkanTest.exe.recipe
/x64/Debug/VulkanTest.ilk
/x64/Debug/VulkanTest.log
/x64/Debug/VulkanTest.pdb
/x64/Debug/VulkanTest.tlog
/x64/Debug/VulkanTest.tlog/CL.command.1.tlog
/x64/Debug/VulkanTest.tlog/Cl.items.tlog
/x64/Debug/VulkanTest.tlog/CL.read.1.tlog
/x64/Debug/VulkanTest.tlog/CL.write.1.tlog
/x64/Debug/VulkanTest.tlog/link.command.1.tlog
/x64/Debug/VulkanTest.tlog/link.read.1.tlog
/x64/Debug/VulkanTest.tlog/link.write.1.tlog
/x64/Debug/VulkanTest.tlog/VulkanTest.lastbuildstate
/x64/Debug/VulkanTest.vcxproj.FileListAbsolute.txt
/VulkanTest.sln
/VulkanTest.vcxproj
/VulkanTest.vcxproj.filters
/VulkanTest.vcxproj.user
